@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: hsl(185, 41%, 84%);
	font-family: 'Space Mono', monospace;
	color: hsl(186, 14%, 43%);
}

.box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.box > h1{
	width: 100%;
	text-align: center;
	margin-top: 80px;
}

.box > h1 > p{
	margin-bottom: -35px;
	color: hsl(183, 100%, 15%);
}

.logo{
	position: absolute;
	margin-top: -35px;
	text-align: center;
}

.quadro{
	width: 70%;
	margin-left: 15%;
	background-color: white;
	margin-top: 80px;
	border-radius: 25px;
}

.divisao{
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.divisao > p{
	margin-bottom: -1px;
	padding-left: 10px;
}

.divisao > .entrada{
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 5px;
	width: 95%;
	font-size: 22px;
	font-family: 'Space Mono', monospace;
}

.icone{
	position: absolute;
	margin-left: 20px;
	margin-top: 5px;
}

.opcao > li{
	list-style: none;
	display: inline;
}

button{
	width: 30%;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	font-size: 20px;
	font-family: 'Space Mono', monospace;
	background-color: hsl(183, 100%, 15%);
	color: white;
	border-radius: 5px;
	border: solid 1px white;
}

button:hover{
	background-color: hsl(184, 14%, 56%);
}

.divisao > .value{
	width: 28%;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	font-family: 'Space Mono', monospace;
	border-radius: 5px;
}

.display{
	background-color: hsl(183, 100%, 15%);
	margin-top: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.display > p{
	font-size: 20px;
	color: white;
	margin-left: 15px;
}

.display > p > b{
	color: hsl(172, 67%, 45%);
}

.total{
	padding-top: 20px;
}

.reset{
	margin-top: 50px;
	width: 80%;
	margin-left: 10%;
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
	font-weight: bold;
}

.aviso{
	width: 100%;
	text-align: center;
	margin-top: 15px;
	color: red;
}

.porcent, .result{
	font-size: 30px;
}

footer{
	width: 100%;
	text-align: center;
}

.github{
	width: 97%;
}

@media only screen and (max-width: 1110px) {
  .divisao{
  	width: 80%;
  	margin-left: 10%;
  }
  button{
  	width: 47%;
  }
  .github{
  	width: 97%;
  }

  .divisao > .value{
  	width: 45%;
  }
}

@media only screen and (max-width: 700px) {
  .divisao{
  	width: 80%;
  	margin-left: 10%;
  }
  button{
  	width: 100%;
  }
  .github{
  	width: 100%;
  }

  .divisao > .value{
  	width: 97%;
  	margin-top: 5px;
  }
}